/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fefefe;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}
